* {
    margin: 0;
    padding: 0;
    font-family: 'Londrina Solid';
    letter-spacing: 1px;
}

.contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo{
    color: #729956;
    margin-top: 50px;
    font-size: 35px;
}

.form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.item-form{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-form input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: #D5D5D5EE;
}

.item-form label{
    font-size: 20px;
    color: #729956;
}

.categoria-boton{
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: #574B41;
    color: white;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}