h2 {
  font-family: 'Londrina Solid';
  text-align: center;
  color: #729956;
  letter-spacing: 1px;
  font-size: 36px;
}
h3 {
  font-family: 'Londrina Solid';
  text-align: left;
  color: #729956;
  letter-spacing: 1px;
}
* {
  font-family: 'Londrina Solid';
  letter-spacing: 1px;
}
.dropdown {
  min-width: 15em;
  position: relative;
  margin: 2em;



}

.dropdown * {

  box-sizing: border-box;
}

.select {
  background: rgba(185, 214, 150, 0.93);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;

}

.select-clicked {
  box-shadow: 0 0 0.8em rgba(185, 214, 150, 0.93);

}

.select :hover {
  background: rgba(185, 214, 150, 0.93);


}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.manu {
  padding: 0.2em 0.5em;
  background: rgba(185, 214, 150, 0.93);
  list-style: none;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #9faac9;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;

}

.manu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.manu li:hover {
  background: rgba(185, 214, 150, 0.93);
}

.active {
  background: rgba(185, 214, 150, 0.93);
}

.manu-open {
  display: block;
  opacity: 1;
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.guardar{
  font-size: 20px;
  color: #fff;
  background-color:rgba(208, 162, 94, 1);
  width: 150px;
  height:40px ;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;

}