* {
    margin: 0;
    padding: 0;
    font-family: 'Londrina Solid';
    letter-spacing: 1px;
}

.contenido {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.titulo {
    color: #729956;
    font-size: 40px;
}

.ofertaProductos {
    background-color: #574B41;
    width: 730px;
    border-radius: 20px;
    height: 300px;
    color: white;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.producto-oferta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.item-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ofertaProductos input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.ofertaProductos label {
    margin-right: 10px;
    font-size: 20px;
}

.boton {
    border-radius: 20px;
    border: none;
    padding: 10px;
    background-color: #D0A25E;
    color: white;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}

.imagen-producto {
    width: 180px;
    height: auto;
}