<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <title>Agregar producto</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/agregarProduct.css">

</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2 class="titulo">Catálogo</h2>
            <h3 class="sudtitulo">Productos</h3>

            <div class="cuadrilla">
                <div class="pote1">
                    <div class="nombreProducto">
                        <label for="nombre-producto">Nombre del producto:</label>
                        <input type="text" name="nombre-categoria" id="nombre-categoria">
                    </div>
                </div>
                <div class="pote2">
                    <div class="imagen">
                        <img src="../img/Fotos productos/Aguacate.png" alt="imagen">
                    </div>
                    <div class="pote4">
                        <div class="mid">
                            <div class="goyo">
                            <label for="categoria">Categoría:</label></div>
                            <input type="text" name="nombre-categoria" id="nombre-categoria">
                        </div>
                        <div class="mid">
                            <div class="goyo">
                            <label for="precio">Precio:</label></div>
                            <input type="text" name="nombre-categoria" id="nombre-categoria">
                        </div>
                        <div class="mid">
                            <div class="goyo">
                            <label for="cantidad">Cantidad:</label></div>
                            <input type="text" name="nombre-categoria" id="nombre-categoria">
                        </div>
                    </div>
                </div>
                <div class="pote3">
                    <div class="botones">
                        <button class="editar">Editar</button>
                        <button class="eliminar">Eliminar</button>

                    </div>
                </div>
               
            </div>
            <div class="botones">
                <button class="guardar">Guardar</button>
            </div>

        </div>
    </div>
</body>

</html>