<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/agregarproducto2.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>

</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2>Catalógo</h2>
            <div class="poteMayor">
                <label for="categoria">Producto:</label>
            </div>
            <div class="item">
                <div class="yoto">
                <label for="nombre-producto">Nombre del producto:</label></div>
                <input type="text" name="nombre-producto" id="nombre-producto">
            </div>
            <div class="item">
                <div class="yoto">
                <label for="Descripción">Descripción:</label></div>
                <input type="text" name="Descripción" id="Descripción">
            </div>
            <div class="item">
                <div class="yoto">
                <label for="categoria">Categoria:</label></div>
                <input type="text" name="categoria" id="categoria">
            </div>
            <div class="item">
                <div class="yoto">
                <label for="precio">Precio:</label></div>
                <input type="text" name="precio-producto" id="precio-categoria">
            
            </div>
            <div class="item">
                <div class="yoto">
                <label for="unidades">Unidades:</label></div>
                <input type="text" name="unidades-producto" id="unidades-producto">
            
            </div>
            <div class="info">
                <label for="añadirImagen">Imagen principal:</label>
                <button class="addImg">Añadir imagen</button>
            </div>
            <div class="info">
                <label for="max">Imagenes (Max 4):</label>
                <button class="addImg1">Añadir imagen</button>
            </div>
            <div class="info">
                <button class="lastboton">Agregar Producto</button>
            </div>



        </div>
    </div>
</body>

</html>