<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <title>Editar Oferta</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/categoria.css">

</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2 class="titulo">Agregar categoría</h2>
            <div class="form">
                <div class="item-form">
                    <label for="nombre-categoria">Nombre de la categoría</label>
                    <input type="text" name="nombre-categoria" id="nombre-categoria">
                </div>
                <button class="categoria-boton">Agregar categoría</button>
            </div>
        </div>
    </div>
</body>

</html>