<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <link rel="stylesheet" href="../css/login.css">
    <title>Recuperar Contraseña</title>
</head>

<body>
    <div class="contenedor">
        <div class="cuadro">
            <h1>CAMBIAR CONTRASEÑA</h1>
            <img src="../img/icon-user.png" alt="">
            <div class="form">
                <div class="item-form">
                    <div class="label-text">
                        <label for="correo">Nueva contraseña</label>
                    </div>
                    <input type="password">
                </div>
            </div>
            <button class="recuperar-contraseña">Cambiar Contraseña</button>
        </div>
    </div>
</body>

</html>