<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav-index.css">
    <title>Categoría</title>
</head>
<body>
    <div class="navegacion"></div>
    <div class="listaCategoria">
        <ul>
            <li><a href="">Categorias</a></li>
            <li><a href="">Amigurumis</a></li>
            <li><a href="">Carteras</a></li>
            <li><a href="">Llaveros</a></li>
            <li><a href="">Ramos</a></li>   
            <li><a href="">Accesorios</a></li>
        </ul>
        <ul>
            <li><a href="">Precio</a></li>
            <li><a href="">Hasta $40.000</a></li>
            <li><a href="">$40.000 a $100.000</a></li>
            <li><a href="">Más de $100.000</a></li>
        </ul>
    </div>
    <div class="categoriaProductos">
        <label for="tituloCategoria">Categoria</label>
        <div class="producto">
            <img src="../img/Fotos productos/Finn y jake.png" alt="producto">
            <h3 class="nombre">Nombre producto</h3>
            <p id="precio">$Precio</p>
            <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
        </div>
    </div>

    <div class="footer"></div>
    <script src="../js/navbar-index.js"></script>
</body>
</html>