<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear codigo de descuento</title>
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/crearCodigoDescuento.css">

</head>
<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2 class="titulo">Códigos de descuentos</h2>
            <div class="ofertaProductos">
                <div class="formulario">
                    <div class="item-form">
                        <label class="texto" for="codigo">Código </label>
                        <input type="text" name="codigo" id="codigo">
                    </div>
                    <div class="item-form">
                        <label class="texto" for="descuento">Descuento </label>
                        <input type="text" name="descuento" id="descuento">
                    </div>
                    <div class="item-form">
                        <label class="texto" for="envio">Envio Gratis?</label>
                        <input type="text" name="envio" id="envio">
                    </div>
                </div>
                <div class="botones-cuadro">
                    <a href=""> 
                    <img src="../img/iconEliminar.png" alt="eliminar" class="eliminar-icon">
                    </a>
                </div>
            </div>
            <div class="botones">
                <button id="crearCodigoDescuento">Crear Codigo de Descuento</button>
            </div>

            <section class="paginacion">
                <ul>
                    <li><a href="" class=""><<</a></li>
                    <li><a href=""><</a></li>
                    <li><a href="" class="active">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">></a></li>
                    <li><a href="">>></a></li>
                </ul>
            </section>
        </div>
    </div>
</body>
</html>