<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperAdministrador</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/editarRol.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2>Cambiar rol</h2>
            <div class="cuadrilla">
                
                <div class="menuDesplegable">
                    <button class="rol">Rol</button>
                    <div class="Roles">
                        <a href="#">chapulincolorado</a>
                        <a href="#">ultron</a>
                        <a href="#">megamente</a>
                    </div>
                </div>

            </div>







        </div>
    </div>

</body>

</html>