<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperAdministrador</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/editarRol.css">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2>Cambiar rol</h2>
            <div class="cuadrilla">
                <div class="role">
                    <div class="dropdown">
                        <div class="clic">
                            <h3>Rol:</h3>
                            <div class="select">
                                <h3 class="rol">Rol seleccionado</h3>
                                <i class="fa-solid fa-angle-right list-arrow" style="color: #ffffff;"></i>
                            </div>
                        </div>
                        <ul class="manu">
                            <li>Administrador</li>
                            <li>Usuario</li>
                            <li>CEO</li>
                        </ul>
                    </div>
                </div>
                <div class="boton">
                    <button class="guardar">Guardar</button>
                </div>
            </div>

        </div>
    </div>
    <script src="../js/editarRol.js"></script>
</body>

</html>