<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav-index.css">
    <title>Lula Crochet</title>
</head>

<body>
    <div class="navegacion"></div>
    <div class="imagen-index">
        <div class="centrado">
            <h1>Entre hilos y agujas, tejemos sueños y creamos magia</h1>
            <div class="botones">
                <button class="boton">Inicia Sesion</button>
                <button class="boton">Regístrate</button>
            </div>
        </div>
    </div>
    <div class="seccion-nuevos-productos">
        <div class="productos">
            <h1>Nuevos Productos</h1>
            <div class="contenedor-productos">
                <div class="producto-info">
                    <img src="../img/Fotos productos/Koala azul.png" alt="">
                    <div class="boton-producto">
                        <a>Añadir al carrito</a>
                    </div>
                </div>
                <div class="producto-info">
                    <img src="../img/Fotos productos/Ramo de flores y un oso.png" alt="">
                    <div class="boton-producto">
                        <a>Añadir al carrito</a>
                    </div>
                </div>
                <div class="producto-info">
                    <img src="../img/Fotos productos/Valiente disney.png" alt="">
                    <div class="boton-producto">
                        <a>Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seccion-categorias">
        <div class="productos">
            <h1>Categorías</h1>
            <div class="contenedor-productos">
                <div class="producto-info">
                    <h2>Amigurumis</h2>
                    <img class="img-fondo" src="../img/Fotos productos/Conejo gigante.png" alt="">
                    <div class="boton-producto">
                        <a>Ir a ver</a>
                    </div>
                </div>
                <div class="producto-info">
                    <h2>Carteras</h2>
                    <img class="img-fondo" src="../img/Fotos productos/Monedero azul.png" alt="">
                    <div class="boton-producto">
                        <a>Ir a ver</a>
                    </div>
                </div>
                <div class="producto-info">
                    <h2>Ramos</h2>
                    <img class="img-fondo" src="../img/Fotos productos/Ramo de van god.png" alt="">
                    <div class="boton-producto">
                        <a>Ir a ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seccion-final">
        <div class="productos">
            <h1>Productos en Descuento</h1>
            <div class="contenedor-productos">
                <div class="producto-info">
                    <div class="fondo-producto">
                        <div class="envio">
                            <img src="../img/free.png" alt="">
                        </div>
                        <img class="img-fondo" src="../img/Fotos productos/Sapa Ph.png" alt="">
                        <div class="descuento">
                            <h2>-50%</h2>
                        </div>
                    </div>
                    <div class="informacion-producto">
                        <h2 class="nombre-producto">Sapo con capa</h2>
                        <h2 class="precio-producto">20.000</h2>
                    </div>
                    <div class="boton-producto">
                        <a>Añadir al carrito</a>
                    </div>
                </div>
                <div class="producto-info">
                    <div class="fondo-producto">
                        <img class="img-fondo" src="../img/Fotos productos/Ramo girasoles.png" alt="">
                        <div class="descuento">
                            <h2>-70%</h2>
                        </div>
                    </div>
                    <div class="informacion-producto">
                        <h2 class="nombre-producto">Ramo de girasoles</h2>
                        <h2 class="precio-producto">40.000</h2>
                    </div>
                    <div class="boton-producto">
                        <a>Añadir al carrito</a>
                    </div>
                </div>
                <div class="producto-info">
                    <div class="fondo-producto">
                        <div class="envio">
                            <img src="../img/free.png" alt="">
                        </div>
                        <img class="img-fondo" src="../img/Fotos productos/Conejo gigante con vestido rojo.png" alt="">
                    </div>
                    <div class="informacion-producto">
                        <h2 class="nombre-producto">Conejo vestido de fresa</h2>
                        <h2 class="precio-producto">170.000</h2>
                    </div>

                    <div class="boton-producto">
                        <a>Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="info-extra">
                <div class="img-y-texto">
                    <img src="../img/no-se-una-w.png" alt="">
                    <div class="textt">
                        <h2>Pago 100% seguro</h2>
                        <h2>Wompi / Contraentrega</h2>
                    </div>
                </div>
                <div class="img-y-texto">
                    <img src="../img/ovillo.png" alt="">
                    <div class="textt">
                        <h2>Garantía de originalidad</h2>
                        <h2>Productos 100% Artesanales</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer"></div>
    <script src="../js/navbar-index.js"></script>
</body>
</html>