<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/nav-index.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>
<body>
    <div class="contenedor" id="contenedor">
        <div class="navegacion"></div>
        <div class="contenido">
        </div>
    </div>
    <script src="../js/nabvar-index.js"></script>
</body>
</html>