<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="contenedor">
        <div class="cuadro">
            <h1>INICIO DE SESION</h1>
            <img src="../img/icon-user.png" alt="">
            <div class="form">
                <div class="item-form">
                    <div class="label-text">
                        <label for="correo">Correo</label>
                    </div>
                    <input type="email">
                </div>
                <div class="item-form">
                    <div class="label-text">
                        <label for="contraseña">Contraseña</label>
                    </div>
                    <input type="password">
                </div>
            </div>
            <button class="inicio-sesion">Inicia Sesion</button>
            <div class="texto">
                <a class="registrate" href="">¿No tienes cuenta? Regístrate aquí</a>
                <a class="recuperacion" href="">Recuperar Contraseña</a>
            </div>
        </div>
    </div>
</body>

</html>