<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../css/perfil.css">
</head>
<body>
    <div class="container">
        <div class="perfil">
            <h2 class="titulo">Mi Perfil</h2>
            <div class="fotoPerfil">
                <img src="../img/perfilSinFoto.png" alt="Profile Picture">
            </div>
            <div class="infoPerfil">
                <h2>Nombre del Usuario</h2>
                <p>Correo@usuario</p>
            </div>
        </div>
        <div class="buttons">
            <button id="editBtn">Editar Datos Personales</button>
            <button id="historialBtn">Historial de Pedidos</button>
            <button id="devolucionBtn">Solicitar Devolución</button>
        </div>
    </div>
</body>
</html>
