<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav-index.css">
    <link rel="stylesheet" href="../css/categoria.css">
    <title>Categoría de productos</title>
</head>
<body>
    <div class="navegacion"></div>
    <div class="titulo">
        <h1>Más de $100.000 </h1>
    </div>
    <div class="container">
        <div class="flex-container-listaCategoria">
            <ul>
                <li><a href="../views/categoria.html">Categorias</a></li>
                <li><a href="../views/categoriaAmigurumis.html">Amigurumis</a></li>
                <li><a href="../views/categoriaCarteras.html">Carteras</a></li>
                <li><a href="../views/categoriaLlaveros.html">Llaveros</a></li>
                <li><a href="../views/categoriaRamos.html">Ramos</a></li>   
                <li><a href="../views/categoriaAccesorios.html">Accesorios</a></li>
            </ul>
            <ul>
                <li><a href="../views/precio.html">Precio</a></li>
                <li><a href="../views/precio40.html">Hasta $40.000</a></li>
                <li><a href="../views/precio40100.html">$40.000 a $100.000</a></li>
                <li><a href="../views/precio100.html">Más de $100.000</a></li>
            </ul>
        </div>
        <div class="grid-container-categoriaProductos">
            <div class="producto">
                <img src="../img/Fotos productos/Finn y jake.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
            <div class="producto">
                <img src="../img/Fotos productos/Aguacate.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
            <div class="producto">
                <img src="../img/Fotos productos/Conejo diabolico.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
            <div class="producto">
                <img src="../img/Fotos productos/Cr7 uniforme portugal.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
            <div class="producto">
                <img src="../img/Fotos productos/Goku.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
            <div class="producto">
                <img src="../img/Fotos productos/Luffi.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
            <div class="producto">
                <img src="../img/Fotos productos/Ramo Spiderman.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
            <div class="producto">
                <img src="../img/Fotos productos/Snupy llavero.png" alt="producto">
                <h3 class="nombre">Nombre producto</h3>
                <p id="precio">$Precio</p>
                <button class="agregarCarrito" id="agregarCarrito">Añadir a Carrito</button>
            </div>
        </div>
    </div>
    <section class="paginacion">
        <ul>
            <li><a href="" class=""><<</a></li>
            <li><a href=""><</a></li>
            <li><a href="" class="active">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">></a></li>
            <li><a href="">>></a></li>
        </ul>
    </section>
    <div class="footer"></div>
    <script src="../js/navbar-index.js"></script>
</body>
</html>