<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperAdministrador</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/registrarUsuario.css">
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2>Usuarios</h2>
            <div class="cuadro">
                <div class="from">
                    <div class="formulario">
                        <div class="row">
                            <div class="txt">
                                <label for="nombre">Nombre:</label>
                            </div>
                            <input type="txt" id="nombre" name="nombre">
                        </div>
                        <div class="row">
                            <div class="txt">
                                <label for="apellido">Apellido:</label>
                            </div>
                            <input type="text" id="apellido" name="apellido">
                        </div>
                        <div class="row">
                            <div class="txt">
                                <label for="nombre">Correo:</label>
                            </div>
                            <input type="text" id="correo" name="correo">
                        </div>
                        <div class="row">
                            <div class="txt">
                                <label for="apellido">Rol:</label>
                            </div>
                            <input type="text" id="rol" name="rol">

                        </div>
                    </div>
                    <div class="botones">
                        <button class="editar"></button>
                        <button class="eliminar"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>